<html>
    <head>
        <title><%= title %></title>
    </head>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <body>
        <h1>
            File from EJS
        </h1>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>